@backgroundColor: #ECF0F1;

body {
    background-color: @backgroundColor;
    font-family     : "Lucida Console";

    .container {
        width: 80%;
        height: 200px;
        margin: auto;
        padding: 10px;
        display: flex;

        #gameMenu {
            width: 15%;
            height: 200px;
            display: flex;
            flex-direction: column;

            div {
                background: white;
                height: 75px;
                width: 75px;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
              }
    
            .gameStatusButton {
                display: block;
                margin-bottom: 10px;
            }
        }

        .moveForm {
            margin-left: 15%;
            height: 200px;

            div {
                background: white;
                height: 75px;
                width: 75px;
                -webkit-box-shadow: inset 0 0 40px 20px white;
                box-shadow: inset 0 0 40px 20px white;
                margin: 10px;
                display: inline-block;
              }
        }
    }

    .newGameForm {
        margin    : auto;
        text-align: center;
        
        label {
            margin-bottom: 20px;
        }

        input {
            background-color: @backgroundColor;
            display         : block;
            margin          : 0 auto;
            color: black;
        }

        .inputText {
            position       : relative;
            text-decoration: none;
            border         : none;
            border-bottom  : 2px solid #34495E;
        }
    }

    button {
        border          : none;
        text-decoration : none;
        background-color: #D98880;
        color           : #ffffff;
        text-align      : center;
    }
}